{% extends 'base.html' %}
{% block content %}

<h2 style="margin-top:50px;">Lista de Empresas</h2>


<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top:30px;">
  <div>
    {% if request.user.userprofile.role in 'superadmin supervisor' %}
      <a href="{% url 'company-create' %}" class="btn btn-success me-2">➕ Nueva Empresa</a>
    {% endif %}
  </div>

 
  <form method="get" class="d-flex">
    <input type="text" name="q" placeholder="Escribe nombre, email o empresa" class="form-control me-2"
         style="padding-top: 0.25rem; padding-bottom: 0.25rem; font-size: 0.875rem; height: calc(1.5em + 0.5rem + 2px);" value="{{ request.GET.q }}">
    <button type="submit" class="btn btn-outline-success" style="padding-top: 0.25rem; padding-bottom: 0.25rem; font-size: 0.875rem; height: calc(1.5em + 0.5rem + 2px);">Buscar</button>
  </form>
</div>


<table class="table table-bordered table-hover">
  <thead class="table-light">
    <tr>
      <th>Nombre</th>
      <th>País</th>
      <th>Email</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for company in companies %}
      <tr>
        <td>{{ company.name }}</td>
        <td>{{ company.country }}</td>
        <td>{{ company.email }}</td>
        <td>{{ company.phone }}</td>
        <td>
          {% if request.user.userprofile.role in 'superadmin supervisor' %}
            <a href="{% url 'company-update' company.pk %}" class="btn btn-warning btn-sm">✏️</a>
            <a href="{% url 'company-delete' company.pk %}" class="btn btn-danger btn-sm">🗑️</a>
          {% endif %}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center text-muted">
          {% if request.GET.q %}
            No se encontraron resultados para "{{ request.GET.q }}".
          {% else %}
            No hay empresas registradas.
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
